@using PROJE_UI.Models;
@model User;
@{
    var userId = Context.Request.Cookies["UserId"];
}
@section css
{
    <style>
        main {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .rounded-form-container {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            width: 700px;
        }
    </style>
}
@using (Html.BeginForm("UpdateProfile", "User", FormMethod.Post))
{

    <div class="rounded-form-container">
        <center><h1 class="text-danger">PROFİLİNİ GÜNCELLE</h1></center>
        <form class="position-sticky">
            <div class="input-group text-center mt-1 mb-4">
                <div class="d-flex justify-content-center w-100">
                    <img src="https://localhost:7185/Uploads/StaticContent/@Model.ImagePath" width="150" height="150" />
                </div>
            </div>
            <div id="errorAlert" class="alert alert-danger" role="alert" style="display: none;">
                <ul>
                    @if (TempData["ErrorMessages"] != null)
                    {
                        var errorMessages = TempData["ErrorMessages"] as List<string>;
                        if (errorMessages != null)
                        {
                            foreach (var errorMessage in errorMessages)
                            {
                                <li>@errorMessage</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="mb-3">
                <label for="Name" class="form-label">Ad:</label>
                <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
            </div>
            <div class="mb-3">
                <label for="SurName" class="form-label">Soyad:</label>
                <input type="text" class="form-control" id="SurName" name="SurName" value="@Model.SurName">
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Email adresi</label>
                <input type="email" class="form-control" id="Email" aria-describedby="Email" name="Email" value="@Model.Email">
            </div>
            <div class="mb-3">
                <label for="Birthdate" class="form-label">Doğum Tarihi:</label>
                <input type="date" class="form-control" id="Birthdate" name="Birthdate" value="@Model.BirthDate.ToString("yyyy-MM-dd")">
            </div>
            <center>
                <button type="submit" class="btn btn-danger fw-bold mx-1">Bilgileri Güncelle</button>
                <button type="button" class="btn btn-danger fw-bold mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Fotoğrafı Güncelle
                </button>
                <a href="javascript:void(0);" onclick="ShowModal('@Model.MediaId')" class="btn btn-danger fw-bold mx-1">Fotoğrafı Sil</a>
            </center>
        </form>
    </div>
}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Profil Fotoğrafını Güncelle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="pictureForm" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <input type="file" name="ImagePath" class="form-control" multiple="multiple" id="inputGroupFile02">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
                        <button type="button" class="btn btn-danger" id="savePictureBtn">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Dikkat</h4>
            </div>
            <div class="modal-body">
                <p>Bu fotoğrafı silmek istediğinize emin misiniz?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="CloseModal()">İptal</button>
                <button type="button" class="btn btn-danger" onclick="Delete()">Sil</button>
            </div>
        </div>
    </div>
</div>
<form id="deleteForm" method="post" action="@Url.Action("DeletePicture","User")">
    @Html.AntiForgeryToken()
    <input type="hidden" id="MediaId" name="MediaId" />
    <input type="hidden" id="UserId" name="UserId" />
</form>

@section script
{
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var mediaId = $(event.relatedTarget).data('mediaid');
            $('#mediaIdInput').val(mediaId);
        });

        $('#savePictureBtn').click(function () {

            var mediaId = $('#mediaIdInput').val();
            var formData = new FormData($('#pictureForm')[0]);

            $.ajax({
                url: '/User/UpdatePicture',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#exampleModal').modal('hide');
                    window.location.href = '/UserEdit/Index';
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
        function ShowModal(id) {
            $("#MediaId").val(id);
            $("#UserId").val('@userId');
            $("#myModal").modal("show");
        }

        function Delete() {
            document.getElementById("deleteForm").submit();
        }
        function CloseModal() {
            $('#myModal').modal('hide');
        }
        @{
            var errorMessages = TempData["ErrorMessages"] as List<string>;
        }

        $(document).ready(function () {
            var errorMessages = @Html.Raw(Json.Serialize(errorMessages));

            if (errorMessages != null && errorMessages.length > 0) {
                var errorMessageHTML = '<ul>';
                errorMessages.forEach(function (errorMessage) {
                    errorMessageHTML += '<li>' + errorMessage + '</li>';
                });
                errorMessageHTML += '</ul>';

                $('#errorAlert').html(errorMessageHTML);
                $('#errorAlert').show();
            }
        });


    </script>
}
