@using PROJE_UI.Models;
@model User;

@section css

{
    <style>
        main {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 110vh;
        }

        .rounded-form-container {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            margin-top:20px;
            width: 700px;
        }
    </style>

}

    <div class="rounded-form-container">
        <center><h1 class="text-danger">ÜYE OL</h1></center>
    <form class="position-sticky" method="post" action="/User/Register">
        <div class="input-group text-center mt-1 mb-4">
            <div class="d-flex justify-content-center w-100">
                <img src="https://localhost:7185/Uploads/StaticContent/user.jpg" width="100" height="100" />
            </div>
        </div>
        <div class="mb-3">
            <label for="Name" class="form-label">Ad:</label>
            <input type="text" class="form-control" id="Name" name="Name">
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Name)</span>
        </div>
        <div class="mb-3">
            <label for="SurName" class="form-label">Soyad:</label>
            <input type="text" class="form-control" id="SurName" name="SurName">
            <span class="text-danger">@Html.ValidationMessageFor(model => model.SurName)</span>
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email adresi:</label>
            <input type="email" class="form-control" id="Email" aria-describedby="Email" name="Email">
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Email)</span>
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Şifre:</label>
            <input type="password" class="form-control" id="Password" name="Password">
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Password)</span>
        </div>
        <div class="mb-3">
            <label for="Birthdate" class="form-label">Doğum Tarihi:</label>
            <input type="date" class="form-control" id="Birthdate" name="Birthdate">
            <span class="text-danger">@Html.ValidationMessageFor(model => model.BirthDate)</span>
        </div>
            <center><button type="submit" class="btn btn-danger fw-bold mx-1">Kaydet</button>
            <button type="reset" class="btn btn-danger fw-bold mx-1">Temizle</button>
        </center>
        </form>
    </div>
<div class="toast-container position-top  end-0 top-0 p-3">
    <!-- Second Toast -->
    <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg bg-danger">
            <strong class="me-auto text-white">Mesaj</strong>
            <button type="button" class="btn-close color-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-bg-danger">
            <strong> @TempData["ErrorUserData"]</strong>
        </div>
    </div>
</div>

@if (TempData["ErrorUserData"] != null)
{
    <script>
        $(document).ready(function () {
            $('#errorToast').toast({
                animation: false,
                delay: 5000
            });
            $('#errorToast').toast('show');
        });
    </script>
}

