@using PROJE_UI.Models;
@model List<BlogComment>

<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Tüm Yorumlar</h2>
                <ol>
                    <li><a href="/Admin/Index"><i class="fas fa-home"></i> Anasayfa</a></li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    <div class="container" data-aos="fade-up">
        <div class="row g-3">
             @if (ViewData["NoCommentsMessage"] != null)
            {
                <p>@ViewData["NoCommentsMessage"]</p>
            }
            else
            {
            @foreach (BlogComment item in Model)
            {
                <div class="col-md-6 col-xl-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="color: red;">@item.BlogTitle.ToUpper()</h3>
                            <div class="card-options">
                                <i class="bi bi-clock"> @item.CommentDate</i>
                                <div class="user-info">
                                    <div class="comment-img">
                                        <img src="https://localhost:7185/Uploads/StaticContent/@item.UserİmagePath" alt="BlogYorumKullanıcıResimi" height="30" />
                                        <span>
                                            <strong>@item.UserName.ToUpper() @item.UserSurname.ToUpper()</strong>
                                            <em>@item.Email</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="height: 150px; overflow: auto;">
                            <h2>@item.CommentTitle</h2>
                            <p>@item.CommentDetail</p>
                        </div>
                        <div class="card-footer">
                            <a href="javascript:void(0);" onclick="ShowModal('@item.CommentId','@item.UserId')" class="btn btn-danger fw-bold mx-1">
                                <i class="fas fa-trash"></i> Kaldır </a>
                                <a href="mailto:@item.Email" class="btn btn-danger fw-bold mx-1">
                                    <i class="fas fa-envelope"></i> Uyarı Mesajı Gönder
                                </a>
                        </div>
                    </div>
                </div>
            }
            }
        </div>
    </div>
</section>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Dikkat</h4>
            </div>
            <div class="modal-body">
                <p>Bu yorumu silmek istediğinize emin misiniz?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="CloseModal()">İptal</button>
                <button type="button" class="btn btn-danger" onclick="Delete()">Sil</button>
            </div>
        </div>
    </div>
</div>
<form id="deleteForm" method="post" action="@Url.Action("DeleteBlogComment","Admin")">
    @Html.AntiForgeryToken()
    <input type="hidden" id="CommentId" name="CommentId"/>
    <input type="hidden" id="UserId" name="UserId" />
</form>
<div class="toast-container position-top  end-0 top-0 p-3">
    <!-- Second Toast -->
    <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg bg-danger">
            <strong class="me-auto text-white">Mesaj</strong>
            <button type="button" class="btn-close color-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-bg-danger">
            <strong> @TempData["ErrorDeleteBlogComment"]</strong>
        </div>
    </div>
</div>
@if (TempData["ErrorDeleteBlogComment"] != null)
{
    <script>
        $(document).ready(function () {
            $('#errorToast').toast({
                animation: false,
                delay: 5000
            });
            $('#errorToast').toast('show');
        });
    </script>
}
@section script{
<script>

    function ShowModal(commentId, userId) {
        $("#CommentId").val(commentId);
        $("#UserId").val(userId);
        $("#myModal").modal("show");
    }

    function Delete() {
        console.log("CommentId: " + $("#CommentId").val());
        document.getElementById("deleteForm").submit();
        var userId = $("#UserId").val();

        $.ajax({
            url: "/Admin/DeleteBlogComment",
            type: "POST",
            data: { CommentId: $("#CommentId").val(), UserId: userId },
        });
    }
    function CloseModal() {
        $('#myModal').modal('hide');
    }

</script>
}