@using PROJE_UI.Models
@model List<Blog>
@{
    var userId = Context.Request.Cookies["UserId"];
}
@await Component.InvokeAsync("Slidebar")
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-8 entries">
                @foreach (Blog item in Model)
                {
                    <article class="entry entry-single">
                        <div class="entry-img">
                            <img src="/Uploads/StaticContent/@item.ImagePath" width="1920px" height="430px" alt="BlogResimleri" class="img-fluid">
                        </div>
                        <h2 class="entry-title">
                            @item.Title.ToUpper()
                        </h2>
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> @item.BlogDate</li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>
                                @item.Content
                            </p>
                            <div class="read-more">
                                <a href="javascript:void(0);" onclick="ShowModal('@item.BlogId')" class="btn btn-danger">Sil</a>
                                <a asp-controller="Blog" asp-action="UpdateBlog" asp-route-blogId="@item.BlogId" class="btn btn-danger">Güncelle</a>
                            </div>
                        </div>
                    </article>
                }
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Dikkat</h4>
            </div>
            <div class="modal-body">
                <p>Bu bloğu silmek istediğinize emin misiniz?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="CloseModal()">İptal</button>
                <button type="button" class="btn btn-danger" onclick="Delete()">Sil</button>
            </div>
        </div>
    </div>
</div>
<form id="deleteForm" method="post" action="@Url.Action("Delete","Blog")">
    @Html.AntiForgeryToken()
    <input type="hidden" id="blogId" name="blogId" />
    <input type="hidden" id="UserId" name="UserId" />
</form>

@section script {
    <script>
        function ShowModal(id) {
            $("#blogId").val(id);
            $("#UserId").val('@userId');
            $("#myModal").modal("show");
        }

        function Delete() {
            document.getElementById("deleteForm").submit();
        }
        function CloseModal() {
            $('#myModal').modal('hide');
        }
    </script>
}