@using PROJE_UI.Models
@model List<Blog>
@{
    var userId = Context.Request.Cookies["UserId"];
}

@await Component.InvokeAsync("Slidebar")
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-8 entries">
                @foreach (Blog item in Model)
                {
                    <article class="entry entry-single">
                        <div class="entry-img">
                            <img src="https://localhost:7185/Uploads/StaticContent/@item.ImagePath" width="1920px" height="430px" alt="BlogResimleri" class="img-fluid">
                        </div>
                        <h2 class="entry-title">
                            @item.Title.ToUpper()
                        </h2>
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> @item.BlogDate</li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>
                                @item.Content
                            </p>
                            <div class="read-more">
                                <a href="javascript:void(0);" onclick="ShowModal('@item.BlogId')" class="btn btn-danger fw-bold mx-1">Sil</a>
                                <a asp-controller="Blog" asp-action="UpdateBlog" asp-route-blogId="@item.BlogId" class="btn btn-danger fw-bold mx-1">Güncelle</a>
                            </div>
                        </div>
                    </article>
                }
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Dikkat</h4>
            </div>
            <div class="modal-body">
                <p>Bu bloğu silmek istediğinize emin misiniz?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="CloseModal()">İptal</button>
                <button type="button" class="btn btn-danger" onclick="Delete()">Sil</button>
            </div>
        </div>
    </div>
</div>
<form id="deleteForm" method="post" action="@Url.Action("Delete","Blog")">
    @Html.AntiForgeryToken()
    <input type="hidden" id="blogId" name="blogId" />
    <input type="hidden" id="UserId" name="UserId" />
</form>
<div class="toast-container position-top  end-0 top-0 p-3">
    <!-- Second Toast -->
    <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg bg-success">
            <strong class="me-auto text-white">Mesaj</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-bg-success">
            <strong> @TempData["SuccessDeleteComment"]</strong>
            <strong> @TempData["SuccessAddComment"]</strong>
            <strong> @TempData["SuccessUpdateComment"]</strong>
            <strong> @TempData["SuccessDeleteBlog"]</strong>
            <strong> @TempData["SuccessUpdateBlog"]</strong>
            <strong> @TempData["SuccessBlogMedia"] </strong>
            <strong> @TempData["SuccessUpdateBlogMedia"] </strong>
            <strong> @TempData["SuccessDeleteBlogMedia"] </strong>
        </div>
    </div>
</div>
<div class="toast-container position-top  end-0 top-0 p-3">
    <!-- Second Toast -->
    <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg bg-danger">
            <strong class="me-auto text-white">Mesaj</strong>
            <button type="button" class="btn-close color-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-bg-danger">
            <strong> @TempData["ErrorAddComment"]</strong>
            <strong> @TempData["ErrorDeleteBlog"]</strong>
            <strong> @TempData["ErrorUpdateBlog"]</strong>
            <strong> @TempData["ErrorUpdateBlogMedia"]</strong>
            <strong>@TempData["ErrorDeleteBlogMedia"]</strong>
        </div>
    </div>
</div>
@if (TempData["SuccessDeleteComment"] != null || TempData["SuccessAddComment"] != null || TempData["SuccessUpdateComment"] != null || TempData["SuccessDeleteBlog"] != null || TempData["SuccessUpdateBlog"] != null || TempData["SuccessBlogMedia"] != null || TempData["SuccessUpdateBlogMedia"] != null || TempData["SuccessDeleteBlogMedia"] != null)
{
    <script>
        $(document).ready(function () {
            $('#successToast').toast({
                animation: true,
                delay: 3000
            });
            $('#successToast').toast('show');
        });
    </script>
}
@if (TempData["ErrorAddComment"] != null || TempData["ErrorDeleteBlog"] != null || TempData["ErrorUpdateBlog"] != null || TempData["ErrorUpdateBlogMedia"] != null ||TempData["ErrorDeleteBlogMedia"] != null)
{
    <script>
        $(document).ready(function () {
            $('#errorToast').toast({
                animation: false,
                delay: 5000
            });
            $('#errorToast').toast('show');
        });
    </script>
}
@section script {
    <script>
        function ShowModal(id) {
            $("#blogId").val(id);
            $("#UserId").val('@userId');
            $("#myModal").modal("show");
        }

        function Delete() {
            document.getElementById("deleteForm").submit();
        }
        function CloseModal() {
            $('#myModal').modal('hide');
        }
    </script>
}