@using PROJE_UI.Models;
@model PROJE_UI.ViewModels.BlogViewModel;
@section css {
    <style>
        .comment {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }

        .comment-img img {
            border: 1px solid #ccc;
            border-radius: 50%;
        }
    </style>
}

<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Blog Detayı</h2>
                <ol>
                    <li><a href="/Home/Index"><i class="fas fa-home"></i> Anasayfa</a></li>
                    <li><a href="/BlogDetails/ListBlog">Bloglar</a></li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-8 entries">
                <article class="entry entry-single">
                    <div class="entry-img">
                        <img src="https://localhost:7185/Uploads/StaticContent/@Model.Blogs.ImagePath" alt="BlogResimi" class="img-fluid" with="100%">
                    </div>
                    <h2 class="entry-title">
                        @Model.Blogs.Title.ToUpper()
                    </h2>
                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center">
                                <div class="comment-img">
                                    <img src="https://localhost:7185/Uploads/StaticContent/@Model.Blogs.UserImagePath" alt="BlogYazarResimi" height="30">
                                    @Model.Blogs.Name.ToUpper()  @Model.Blogs.SurName.ToUpper()
                                </div>
                            </li>
                            
                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> @Model.Blogs.BlogDate</li>
                            <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">@Model.Blogs.BlogCommentCount</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-heart"></i> <a href="blog-single.html">@Model.Blogs.BlogLikeCount</a></li>
                        </ul>
                    </div>
                    <div class="entry-content">
                        <p>
                            @Model.Blogs.Content
                        </p>
                        <button type="button" id="likeButton">
                            <i class="bi bi-heart"></i> Beğen
                        </button>
                        <button type="button" id="commentButton">
                            <i class="bi bi-chat"></i> Yorum Ekle
                        </button>
                    </div>
                </article>
                <div class="blog-comments">
                    @foreach (var item in Model.Comments)
                    {
                        <div id="comment-1" class="comment">
                            <div class="d-flex">
                                <div class="comment-img"><img src="https://localhost:7185/Uploads/StaticContent/@item.UserİmagePath" alt="KullanıcıResimi"></div>
                                <div>
                                    <h5><a href="#">@item.UserName.ToUpper() @item.UserSurname.ToUpper()</a> </h5>
                                    <time datetime="2020-01-01">@item.CommentDate</time>
                                    <p>
                                        @item.CommentDetail
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="reply-form">
                        <h4 class="text-danger">YORUM EKLE</h4>
                        <form  asp-action="AddComment" asp-controller="BlogComment" method="post">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input name="UserName" type="text" class="form-control" placeholder="Adınız">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="UserSurname" type="text" class="form-control" placeholder="Soyadınız">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <input name="CommentTitle" type="text" class="form-control" placeholder="Yorumun Konusu">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <textarea name="CommentDetail" class="form-control" placeholder="Yorum İçeriğiniz" rows="15"></textarea>
                                </div>
                                <input type="hidden" name="BlogId" id="blogIdField" value="@Model.Blogs.BlogId" />
                            </div>
                            <center>
                            <button type="submit" class="btn btn-danger fw-bold mx-1">Yorum Ekle</button>
                            <button type="reset" class="btn btn-danger fw-bold mx-1">Temizle</button>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("AnnouncementDetails")
        </div>
    </div>
</section><!-- End Blog Single Section -->
<div class="toast-container position-top  end-0 top-0 p-3">
    <!-- Second Toast -->
    <div id="viewToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg bg-danger">
            <strong class="me-auto text-white">Mesaj</strong>
            <button type="button" class="btn-close color-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-bg-danger">
            @TempData["ErrorDetailsComment"]
            @TempData["ErrorDetailsBlog"]
        </div>
    </div>
</div>
@if (TempData["ErrorDetailsComment"] != null || TempData["ErrorDetailsBlog"] != null)
{
    <script>
        $(document).ready(function () {
            $('.toast').toast({
                animation: false,
                delay: 5000
            });
            $('.toast').toast('show');
        });
    </script>
}
@section script {
    <script>
        var likeButton = document.getElementById('likeButton');
        likeButton.addEventListener('click', function () {
            likeButton.style.color = 'red';
        });
       
            document.addEventListener('DOMContentLoaded', function () {
                var commentButton = document.getElementById('commentButton');
                commentButton.addEventListener('click', function () {
                    var replyForm = document.querySelector('.reply-form');
                    if (replyForm) {
                        replyForm.scrollIntoView({ behavior: 'smooth', block: 'start' });
                    }
                });
            });
    </script>
}