@using PROJE_UI.Models;
@model PROJE_UI.ViewModels.BlogViewModel;
@section css {
    <style>
        .comment {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }

        .comment-img img {
            border: 1px solid #ccc;
            border-radius: 50%;
        }
    </style>

}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Blog Single</h2>
                <ol>
                    <li><a href="Home/Index">Home</a></li>
                    <li><a href="BlogDetails/ListBlog">Blog</a></li>
                    <li>Blog Detay</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">

                        <div class="entry-img">
                            <img src="@Model.Blogs.İmagePath" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            @Model.Blogs.Title.ToUpper()
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">@Model.Blogs.Name @Model.Blogs.SurName</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">@Model.Blogs.BlogDate</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">@Model.Blogs.BlogCommentCount</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-heart"></i> <a href="blog-single.html">@Model.Blogs.BlogLikeCount</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                @Model.Blogs.Content
                            </p>
                            <button type="button" id="likeButton">
                                <i class="bi bi-heart"></i> Beğen
                            </button>
                            <button type="button" id="commentButton" data-blog-id="@Model.Blogs.İd">
                                <i class="bi bi-chat"></i> Yorum Ekle
                            </button>
                        </div>

                    </article>
                    <div class="blog-comments">
                        @foreach (var item in Model.Comments)
                        {
                            <div id="comment-1" class="comment">
                                <div class="d-flex">
                                    <div class="comment-img"><img src="@item.UserİmagePath" alt=""></div>
                                    <div>
                                        <h5><a href="#">@item.UserName.ToUpper() @item.UserSurname.ToUpper()</a> </h5>
                                        <time datetime="2020-01-01">@item.CommentDate</time>
                                        <p>
                                            @item.CommentDetail
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- End comment #1 -->
                        }
                        <div class="reply-form">
                            <h4 class="text-danger">YORUM EKLE</h4>
                            <form asp-action="AddComment" asp-controller="Blog" method="post" id="commentForm">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <input type="hidden" asp-for="BlogId" />
                                        <input name="UserName" type="text" class="form-control" placeholder="Adınız">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input name="UserSurName" type="text" class="form-control" placeholder="Soyadınız">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <input name="commentTitle" type="text" class="form-control" placeholder="Yorumun Konusu">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <textarea name="commentDetails" class="form-control" placeholder="Yorum İçeriğiniz"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-danger">Yorum Ekle</button>
                            </form>

                        </div>

                    </div><!-- End blog comments -->
                </div>

                <div class="col-lg-4">

                    <div class="sidebar">

                        <h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form action="">
                                <input type="text">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div><!-- End sidebar search formn-->
                        <h3 class="sidebar-title">Recent Posts</h3>
                        <div class="sidebar-item recent-posts">
                            <div class="post-item clearfix">
                                <img src="~/assets/img/blog/blog-recent-1.jpg" alt="">
                                <h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/assets/img/blog/blog-recent-2.jpg" alt="">
                                <h4><a href="blog-single.html">Quidem autem et impedit</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/assets/img/blog/blog-recent-3.jpg" alt="">
                                <h4><a href="blog-single.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/assets/img/blog/blog-recent-4.jpg" alt="">
                                <h4><a href="blog-single.html">Laborum corporis quo dara net para</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/assets/img/blog/blog-recent-5.jpg" alt="">
                                <h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
                                <time datetime="2020-01-01">Jan 1, 2020</time>
                            </div>

                        </div><!-- End sidebar recent posts-->

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->


            </div>
        </div>

    </section><!-- End Blog Single Section -->

</main>
@section script {
    <script>
        var likeButton = document.getElementById('likeButton');
        likeButton.addEventListener('click', function () {
            // Beğeni işlemlerini gerçekleştirebilirsiniz

            // Buton rengini değiştir
            likeButton.style.color = 'red';
        });

        var commentButton = document.getElementById('commentButton');
        var commentForm = document.getElementById('commentForm');

        commentButton.addEventListener('click', function () {
            // Yorum ekleme butonuna tıklandığında formun altına kaydırma işlemi
            commentForm.scrollIntoView({ behavior: 'smooth', block: 'start' });

            // Bloğun ID'sini al
            var blogId = commentButton.getAttribute('data-blog-id');

            // Bloğun ID'sini yorum ekle formuna ekleyebilir veya başka işlemler yapabilirsin
            var blogIdField = document.getElementById('BlogId');
            if (blogIdField) {
                blogIdField.value = blogId;
            }
        });
    </script>
}

