@using PROJE_UI.Models;
@model List<Blog>


<section id="blog" class="blog">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Bloglar</h2>
                <ol>
                    <li><a href="/Home/Index"><i class="fas fa-home"></i> Anasayfa</a></li>
                </ol>
            </div>

        </div>
    </section>
    <div class="container" data-aos="fade-up">

        <div class="row">

            @foreach (Blog item in Model)
            {
                <div class="col-lg-8 entries">
                    <article class="entry">

                        <div class="entry-img">
                            <img src="/Uploads/StaticContent/@item.İmagePath" alt="Blog Resimi" class="img-fluid">

                        </div>
                        <h2 class="entry-title">
                            @item.Title.ToUpper()
                        </h2>
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-person"></i>
                                    @item.Name.ToUpper()  @item.SurName.ToUpper()
                                </li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i><time datetime="2020-01-01">@item.BlogDate</time></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/Blog/BlogDetails">@item.BlogCommentCount</a></li>
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-heart"></i> <a href="/Blog/BlogDetails">@item.BlogLikeCount</a>

                                </li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>
                                @item.Content
                            </p>
                            <div class="read-more">
                                <div class="read-more">
                                    <a asp-controller="BlogDetails" asp-action="BlogDetails" asp-route-blogId="@item.İd" id="readMoreBtn">Detayını Gör</a>
                                </div>
                            </div>
                        </div>

                    </article>
                </div>
            }
            @await Component.InvokeAsync("AnnouncementDetails")

        </div>

    </div>
</section>



