@using PROJE_UI.Models;
@model List<Announcement>

<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Tüm Duyurular</h2>
                <ol>
                    <li><a href="/Admin/Index"><i class="fas fa-home"></i> Anasayfa</a></li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <div class="container" data-aos="fade-up">
        <div class="row g-3">
            @foreach (Announcement item in Model)
            {
                <div class="col-md-6 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">@item.AnnouncementTitle</h3>
                            <div class="card-options">
                                <li class="d-flex align-items-center"><i class="bi bi-clock"> @item.CreateDate</i></li>
                                <a href="javascript:void(0);" onclick="ShowModal('@item.AnnouncementId')">Sil</a>
                                <a asp-action="UpdateAnnouncement" asp-controller="Announcement" asp-route-AnnouncementId="@item.AnnouncementId">Güncelle</a>
                            </div>
                        </div>
                        <div class="card-body" style="height: 300px; overflow: auto;">
                            @item.AnnouncementContent
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dikkat</h4>
                </div>
                <div class="modal-body">
                    <p>Bu Duyuruyu silmek istediğinize emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="CloseModal()">İptal</button>
                    <button type="button" class="btn btn-danger" onclick="Delete()">Sil</button>
                </div>
            </div>
        </div>
    </div>
    <div class="toast-container position-top  end-0 top-0 p-3">
        <!-- Second Toast -->
        <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg bg-danger">
                <strong class="me-auto text-white">Mesaj</strong>
                <button type="button" class="btn-close color-white" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body text-bg-danger">
                <strong> @TempData["ErrorDeleteAnnouncement"]</strong>
            </div>
        </div>
    </div>
    @if (TempData["ErrorDeleteAnnouncement"] != null)
    {
        <script>
            $(document).ready(function () {
                $('#errorToast').toast({
                    animation: false,
                    delay: 5000
                });
                $('#errorToast').toast('show');
            });
        </script>
    }
    <form id="deleteForm" method="post" action="@Url.Action("DeleteAnnouncement","Announcement")">
        @Html.AntiForgeryToken()
        <input type="hidden" id="AnnouncementId" name="AnnouncementId" />
    </form>

    @section script{
<script>
 function ShowModal(id) {
            $("#AnnouncementId").val(id);
            $("#myModal").modal("show");
        }

        function Delete() {
            document.getElementById("deleteForm").submit();
        }
        function CloseModal() {
            $('#myModal').modal('hide');
        }
    </script>
}