@using PROJE_UI.Models
@model Announcement
@section css {
    <style>
        main {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 130vh;
        }

        .rounded-form-container {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            width: 700px;
        }
    </style>
}
@using (Html.BeginForm("UpdateAnnouncement", "Announcement", FormMethod.Post))
{
<div class="rounded-form-container">
    <center><h1 class="text-danger">DUYURU GÜNCELLE</h1></center>
    <form class="position-sticky">
            <div id="errorAlert" class="alert alert-danger" role="alert" style="display: none;">
                <ul>
                    @if (ViewBag.ErrorMessages != null && ViewBag.ErrorMessages.Count > 0)
                    {
                        @foreach (var errorMessage in ViewBag.ErrorMessages)
                        {
                            <li>@errorMessage</li>

                        }
                    }
                </ul>
            </div>
        <div class="mb-3">
            <label for="AnnouncementTitle" class="form-label">Duyuru Başlığı:</label>
            <input type="text" class="form-control" id="AnnouncementTitle" name="AnnouncementTitle" value="@Model.AnnouncementTitle">
        </div>
        <div class="mb-3">
            <label for="AnnouncementContent" class="form-label">Duyuru Yazısı:</label>
            <input type="hidden" id="AnnouncementId" name="AnnouncementId" value="@Model.AnnouncementId" />
            <textarea class="form-control" id="AnnouncementContent" name="AnnouncementContent" rows="20">@Model.AnnouncementContent</textarea>
        </div>
        <center>
            <button type="submit" class="btn btn-danger fw-bold mx-1">Duyuruyu Güncelle</button>
            <button type="reset" class="btn btn-danger fw-bold mx-1">Temizle</button>
        </center>
    </form>
</div>
}
@section script {
    <script>
        $(document).ready(function () {
            var errorMessages = @Html.Raw(Json.Serialize(ViewBag.ErrorMessages));

            if (errorMessages != null && errorMessages.length > 0) {
                var errorMessage = errorMessages.join('\n');
                $('#errorAlert').html(errorMessage);
                $('#errorAlert').show();
            }
        });
    </script>

}
