@using PROJE_UI.Models;
@model BlogComment
@await Component.InvokeAsync("Slidebar")
@using (Html.BeginForm("UpdateBlogComment", "BlogComment", FormMethod.Post))
{

<div class="container m-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">YORUM GÜNCELLE</h4>
                </div>
                    <div id="errorAlert" class="alert alert-danger" role="alert" style="display: none; margin-top: 20px;">
                        <ul>
                            @if (ViewBag.ErrorMessages != null && ViewBag.ErrorMessages.Count > 0)
                            {
                                @foreach (var errorMessage in ViewBag.ErrorMessages)
                                {
                                    <li>@errorMessage</li>

                                }
                            }
                        </ul>
                    </div>
                <div class="card-body">
             
                        <div class="mb-3">
                            <label for="UserName" class="form-label">Adınız</label>
                            <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Adınız" value="@Model.UserName">
                        </div>
                        <div class="mb-3">
                            <label for="UserSurname" class="form-label">Soyadınız</label>
                            <input type="text" class="form-control" id="UserSurname" name="UserSurname" placeholder="Soyadınız" value="@Model.UserSurname">
                        </div>
                        <div class="mb-3">
                            <label for="CommentTitle" class="form-label">Yorumun Konusu</label>
                            <input type="text" class="form-control" id="CommentTitle" name="CommentTitle" placeholder="Yorumun Konusu" value="@Model.CommentTitle">
                        </div>
                        <div class="mb-3">
                            <label for="CommentDetail" class="form-label">Yorum İçeriğiniz</label>
                            <textarea class="form-control" id="CommentDetail" name="CommentDetail" placeholder="Yorum İçeriğiniz" rows="15">@Model.CommentDetail</textarea>
                        </div>
                        <input type="hidden" id="CommentId" name="CommentId" value="@Model.CommentId" />
                        <center> <button type="submit" class="btn btn-danger fw-bold mx-1">Yorum Güncelle</button></center>
                   
                </div>
            </div>
        </div>
    </div>
</div>
}
@section script {
    <script>
        $(document).ready(function () {
            var errorMessages = @Html.Raw(Json.Serialize(ViewBag.ErrorMessages));

            if (errorMessages != null && errorMessages.length > 0) {
                var errorMessage = errorMessages.join('\n');
                $('#errorAlert').html(errorMessage);
                $('#errorAlert').show();
            }
        });
    </script>

}

